body{
    background-color: red;
}
p{
    border: solid;
    width: 200px;
    height: 200px;
    background-color: aqua;
}
td{
    border: solid 2px;
}

#r{
    background-color: blue;
}

tr{
    background-color: aquamarine;
}
